# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.antigravity/

# Dependencies (jika nanti pakai npm)
node_modules/
package-lock.json
yarn.lock

# Build / env
dist/
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Vercel
.vercel/
